@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background-image: url('../../public/Gradient2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.paragraph {
    background-image: url('../../public/Gradient2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: text;
    color: transparent;
}